<div class="mt-4 flex items-center gap-4 flex-col">
  <div class="flex items-center gap-4 flex-row">
    <img
      class="rounded-lg"
      src="https://placehold.co/200x200"
      alt="Promotion 1"
    />
    <img
      class="rounded-lg"
      src="https://placehold.co/200x200"
      alt="Promotion 2"
    />
  </div>
  <div class="">
    <h1>Lorem Ipsum Ksh 1000</h1>
    <p>
      Lorem ipsum dolor sit amet, consetetur<br />
      sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
    </p>
  </div>
</div>
