<div class="mt-4 flex items-start flex-col">
  <div class="flex items-center justify-between gap-4 flex-row">
    <img
      class="rounded-lg"
      src="https://placehold.co/800x300"
      alt="Promotion 1"
    />
    <img
      class="rounded-lg"
      src="https://placehold.co/800x300"
      alt="Promotion 2"
    />
    <img
      class="rounded-lg"
      src="https://placehold.co/500x300"
      alt="Promotion 2"
    />
  </div>
  <div>
    <h1>Lorem Ipsum Ksh 1000</h1>
    <p>
      Lorem ipsum dolor sit amet, consetetur<br />
      sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
    </p>
  </div>
</div>
